<div class="card">
  <div class="card-body">
    <h5 class="card-title text-muted d-inline">
      autor
      <%= comment.user %>
    </h5>
    <p class="card-text">
      tekst
      <%= comment.content %>
    </p>
    <%= link_to "Delete", [comment.post, comment], data: { turbo_method: :delete,
                                                           turbo_confirm: "Are you sure?" } %>
  </div>
</div>
<br>