<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <div class="mb-3">
    <%= form.text_field :user, class:"form-control", placeholder:"Author name" %>
  </div>

  <div class="mb-3">
    <%= form.text_area  :content, class:"form-control", placeholder:"Text..." %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  <% end %>

