<h1>Posts</h1>
<section>
  <% @posts.each do |post|%>
    <br/>
      <div class="card">
        <div class="card-header">
          <h5><%= post.title %></h5>
        </div>
        <div class="card-body">
          <p class="card-text"><%= post.content %></p>
          <%= link_to "Wiecej...", post, class:"btn btn-outline-secondary" %>
        </div>
        <div class="card-footer text-muted text-end">
          <%= post.created_at.strftime("%k:%M %d/%m/%Y") %>
        </div>
      </div>

  <% end %>
</section>